<!DOCTYPE html>
<html lang="en">
	
	{% include head.html %}
	{% include analytics.html %}
	
	<body>
		<!-- Google Tag Manager (noscript) -->
		<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WBLSPQ4"
		height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
		<!-- End Google Tag Manager (noscript) -->
		<div class="container">
			
			{% include header.html %}
			
			{{ content }}
			
			{% include footer.html %}
		
		</div> <!-- /container -->
	
	
		{% include scripts.html %}
	
	</body>

</html>
